<div class="container">
  <h1><%= @meetup.date %> <% if @meetup.attendees.count > 0 %><small>(<%= @meetup.attendees.count %>)</small><% end %></h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <h4>Breakdown</h4>
      <% if @meetup.attendees.count > 0 %>
        <% data = [
            { value: @meetup.japanese_attendees.count, color:"#F7464A", highlight: "#FF5A5E", label: "Japanese"},
            { value: @meetup.non_japanese_attendees.count, color:"#46BFBD", highlight: "#5AD3D1", label: "English"}
            ] %>
        <%= pie_chart(data,
          animation: false,
          responsive: true,
          generateLegend: true,
          legendTemplate: render("layouts/legend") ) %>
      <% else %>
        A pie chart containing a break down of Japanese native and non native
        speakers will appear after someone attends the meetup.
      <% end %>
    </div>
    <div class="col-md-6">
      <h4>Roll Sheet</h4>
      <% if @meetup.attendees.count > 0 %>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Native Language</th>
          </tr>
        </thead>
        <tbody>
          <% @meetup.attendees.each do | attendee | %>
          <tr>
            <td><%= attendee.name %></td>
            <td><%= attendee.native_language %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <ul id="sign_in_tabs" class="nav nav-tabs">
        <li id="sign_in_tab" role="presentation" class="active"><a href="#">Check In</a></li>
        <li id="new_attendee_tab" role="presentation"><a href="#">Sign Up</a></li>
      </ul>
      <br />

      <div id="sign_in" class="panel panel-default" style="padding:20px;">
        <%= simple_form_for @meetup,
          url: url_for(controller: 'meetups', action: 'attend_meetup', id: @meetup),
          html: { id: 'sign_in_form' }  do |f| %>
          <%= f.simple_fields_for :meetup_attendees, f.object.meetup_attendees.build do |ma| %>
            <%= ma.association :attendee, collection: User.all.order(:name), label: "Attendee*" %>
          <% end %>
          <%= f.submit "Attend", class: "btn btn-primary" %>
        <% end %>
      </div>

      <div id="new_attendee" class="panel panel-default" style="padding:20px;display:none;">
        <%= simple_form_for @meetup,
          url: url_for(controller: 'meetups', action: 'add_and_attend_meetup', id: @meetup),
          html: { id: 'new_attendee_form'} do | f | %>
          <%= simple_fields_for :meetup_attendees do | ma | %>
            <%= simple_fields_for :user do | u | %>
              <%= u.input :name, label: "Name*"%>
              <%= u.input :email, label: "Email*" %>
              <%= u.input :native_language, label: "Native Language*" %>
            <% end %>
            <%= f.submit "Add & Attend", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
</div>

<script>
  $('ul#sign_in_tabs li').click(function(e) {
    e.preventDefault();
    switch(this.id) {
      case "new_attendee_tab":
        $("#sign_in_tab").removeClass("active");
        $("#new_attendee_tab").addClass("active");
        $("#new_attendee").show();
        $("#sign_in").hide();
        break;
      case "sign_in_tab":
        $("#new_attendee_tab").removeClass("active");
        $("#sign_in_tab").addClass("active");
        $("#sign_in").show();
        $("#new_attendee").hide();
        break;
      default:
    }
  });
</script>
